<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Shanmuganathan Ganapathy</b> </h5>
            <p class="content"><strong>Founder of Meetaide <br /> Slot Duration: 60 mins <br />Time: 9:00 AM - 10:00 AM<br />Date: May 10 2020
            </strong></p>
            <label name="comment"><b>Comment</b></label>
            <form>
                <textarea class="textarea" rows="1" cols="50"></textarea>
                <br><br>
                <button class="button text-center" [routerLink]="['/cancel']">Cancel Event</button>
            </form>
        </div>
    </div>
</div>